#ul-2{
    margin: 1px;
    overflow: hidden;
    max-height: 0;
    list-style: none;
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
    text-decoration: none;
    margin-left: 20px;
}

.item-li-1:hover #ul-2 {
    max-height: 300px;
    /* Increase when adding more dropdown items */
}

#ul-2 li a{
    text-decoration: none;
}