*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 200;
    direction: left; 
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    background-size: cover;
    box-sizing: border-box;
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #444;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.15s;
}

.content:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #444;
    opacity: .5;
}

.touch_mouse:hover ~ .cursor2{
    opacity: 0;
}

.content p{
  width: 700px;
  line-height: 26px;
  font-size: 18px;
  text-align: justify;
}

.item-li-1{
    /* will style only the top level li */
    list-style: none;
    margin: 1px;
    position: relative;
}

.item-a-2:hover{
    text-decoration: none !important;
    color: #ff0000 !important;
}

.item-ul-3{
    position:absolute;
    list-style:none;
    text-align:center;
    width: 180px;
    left:41%;
    margin-left:-90px;
    top:30px;
    font:bold 12px 'Open Sans Condensed', sans-serif;
    max-height:0px;
    overflow: hidden;
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

.item-li-4{
    background-color: #313131;
}

.item-li-4 a{
    padding:12px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
}

nav.bg-transparent{
    background: transparent;
    transition: all 0.3 ease;
    height: 120px;
}

.item-li-4:nth-child(odd) {
    /* zebra stripes */
    background-color: #363636;
}

.item-li-4:hover {
    background-color: #444;
}

.item-li-4:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 30px;
    position: relative;
}

.item-li-4:first-child:before {
    /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

.item-li-4:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.item-li-1:hover .item-ul-3 {
    max-height: 300px;
    /* Increase when adding more dropdown items */
}

.nav ul{
    transition: all 0.6s ease;
}

.nav-item a{
    transition: all 0.3s ease;
}

.nav ul li.nav-item a{
    color: #f1f1f1!important;
    font-family: sans-serif;
    transition: all 0.3s ease;
    letter-spacing: 2px;
}

nav ul li.nav-item a:hover{
    color: #f1f1f1!important;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,0.5);
    margin-right: 20px;
}

a, a:visited {
    text-decoration: none;
    outline: none;
    color: #313131;
}

.nav-link:hover {
    color: #313131;
}

#header{
    background-image: url(images/bg.jpg);
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    align-content: center;
    text-align-last: center;
    justify-content: center;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.contact-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.cart{
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 140px;
    background-color: #444;
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.icon{
    width: 60px;
    height: 60px;
    transition: .1s linear;
}

.cart:hover .icon{
    transform: scale(2);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px;
    text-transform: uppercase;
    color: #4DCBB6;
}

.card-content span{
    bottom: 20px;
    color: #fff;
    font-weight: 400;
}

.cart:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.cart:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}

@media screen and (max-width:900px){
    .cart{
        flex: 100%;
        max-width: 500;
    }
}
